# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next.js environment variables
NODE_ENV="development"
NEXT_PUBLIC_NODE_ENV="development"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Disable telemetry at run time
NEXT_TELEMETRY_DISABLED=1 # Injected in Dockerfile

# Prisma
DATABASE_URL="postgres://captable:password@pg:5432/captable"

# Next Auth
# Run `openssl rand -base64 32` to generate a new secret
NEXTAUTH_SECRET="xxxxxxxxxx"
NEXTAUTH_URL="http://localhost:3000"

## Auth Optional
GOOGLE_CLIENT_ID="xxxxxxxxxx"
GOOGLE_CLIENT_SECRET="xxxxxxxxxx"

# SMTP
EMAIL_FROM="'Captable, Inc.' <support@captable.inc>"
EMAIL_SERVER=smtp://captable:password@localhost:1025

# Uploads
UPLOAD_ENDPOINT="http://127.0.0.1:9002"
UPLOAD_REGION="us-east-1" # value should be 'auto' while using r2
UPLOAD_ACCESS_KEY_ID="captable"
UPLOAD_SECRET_ACCESS_KEY="password"
UPLOAD_BUCKET_PUBLIC="captable-public-bucket"
UPLOAD_BUCKET_PRIVATE="captable-private-bucket"
