# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next.js environment variables
NODE_ENV="development"
NEXT_PUBLIC_NODE_ENV="development"
BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Next.js collects completely anonymous telemetry data about general usage. Learn more here: https://nextjs.org/telemetry
# Uncomment the following line to disable telemetry at run time
NEXT_TELEMETRY_DISABLED=1

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgres://captable:password@127.0.0.1:54321/captable"

# Next Auth
# You can generate a new secret on the command line with:
# https://next-auth.js.org/configuration/options#secret

# openssl rand -base64 32
NEXTAUTH_SECRET="xxxxxxxxxx"

## Auth Optional
GOOGLE_CLIENT_ID="xxxxxxxxxx"
GOOGLE_CLIENT_SECRET="xxxxxxxxxx"

# SMTP
EMAIL_SERVER_HOST="localhost"
EMAIL_SERVER_PORT=1025
EMAIL_SERVER_USERNAME="captable"
EMAIL_SERVER_PASSWORD="password"
EMAIL_SERVER_SECURE=0
# EMAIL_SERVER=smtp://captable:password@127.0.0.1:2500
EMAIL_FROM=hello@cap.new


# Uploads
UPLOAD_PROVIDER="s3"
UPLOAD_ENDPOINT="http://127.0.0.1:9002"
NEXT_PUBLIC_UPLOAD_DOMAIN="http://127.0.0.1:9002"

# value should be 'auto' while using r2
UPLOAD_REGION="us-east-1"
UPLOAD_ACCESS_KEY_ID="captable"
UPLOAD_SECRET_ACCESS_KEY="password"

UPLOAD_BUCKET_PUBLIC="captable-public-bucket"
UPLOAD_BUCKET_PRIVATE="captable-private-bucket"

# Create a free trigger.dev account and get your API key from the dashboard
TRIGGER_API_ID="xxxxxxxxxx"
TRIGGER_API_KEY="xxxxxxxxxx"
TRIGGER_API_URL=https://api.trigger.dev
NEXT_PUBLIC_TRIGGER_PUBLIC_API_KEY=""
