name: "Continuous Integration"

on:
  pull_request:
    branches: ["main"]

jobs:
  build_app:
    name: Build App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/node-setup

      - name: Copy env
        run: cp .env.example .env

      - name: Build
        run: npm run build
