name: First interaction greeting

on:
  pull_request:
    types: ["opened"]
  issues:
    types: ["opened"]

permissions:
  pull-requests: write
  issues: write

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          pr-message: |
            Welcome @${{github.actor}} :wave:

            Thank you for creating your first Pull Request! 

            One of our team members will review it and get back to you as soon as possible.

            In the meantime feel free to hop into our community in [Discord](https://discord.gg/rCpqnD6G6p)

            Thanks again, and welcome to the community! :smiley:

          issue-message: |
            Welcome @${{github.actor}} :wave:

            thank you for opening your first issue! We will get back to you shortly.

            Meanwhile, please feel free to hop into our community in [Discord](https://discord.gg/rCpqnD6G6p)
